.container {
  background-color: #112b3c;
  align-items: center;
  display: flex;
}

img {
  padding: 6px;
  width: 6em;
}

hr {
  width: 0px;
  height: 2.6em;
  padding: 0px;
  margin: 6px;
  border-style: solid;
}
